<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    
    <title>{{ title }}</title>
</head>

  <body>  

    <header class="header">
        
            <!-- logo -->
            <a href="/" class="logo">
            {% render 'partials/cool.logo.svg' %}
            </a>
            
        <nav class="nav">
        <!-- navigatie -->
            <a href="/instrument/uitlenen" class="button">Uitlenen</a>
            <a href="/instrument/innemen" class="button">Innemen</a>
            <a href="/instrument/toevoegen" class="button">Toevoegen</a>
        </nav>
    </header>